@page "/Details/{itemId:int}"

@using Webshop.Model;
@using Webshop.Sdk;

@inject ItemApi _itemApi;

@if (Item is null)
{
	<div>Loading...</div>
}
else
{

    <h3>@Item.Title</h3>

    <p>@Item.Description</p>

    <iframe width="1280" height="720"
            src="@Item.TrailerURL">
    </iframe>
}

@code {
    [Parameter]
    public int ItemId { get; set; }

    private Item Item { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await LoadItem();
    }

    private async Task LoadItem()
    {
        Item = await _itemApi.GetAsync(ItemId);

        Item.TrailerURL = Item.TrailerURL.Replace("https://www.youtube.com/watch?v=", "https://www.youtube.com/embed/");
    }
}