@page "/"

@using Webshop.Model;
@using Webshop.Sdk;

@inject BlurayApi _blurayApi;

@if (Blurays is null)
{
	<div>Loading...</div>
}
else
{
	<div class="container-fluid content-row">
		<div class="row">
			@foreach (var bluray in Blurays)
			{
				<div class="col-lg-3 col-md-6">
					<a href="#">
						<div class="card h-100" style="width: 20rem;">
                            <p style="text-align:center; margin-top: 20px">
							<img class="img-thumbnail" src="@bluray.ImageURL" alt="@bluray.ImageURL"
								 height="250px" width="200px"
							>
							</p>
								
							<div class="card-body text-center">
								<h5 class="card-title mb-3">
									@bluray.Title
								</h5>
								<p class="card-text">
									<b>@bluray.Price.ToString("C")</b>
								</p>
							</div>
						</div>
					</a>
				</div>
			}
		</div>
	</div>
}

@code {
    private IList<Bluray> Blurays { get; set; } = new List<Bluray>();

	protected override async Task OnInitializedAsync()
	{
		await LoadBlurays();
	}

    private async Task LoadBlurays()
    {
        Blurays = await _blurayApi.FindAsync();
    }
}