@page "/"

@using Webshop.Model;
@using Webshop.Sdk;

@inject BlurayApi _blurayApi;

@if (Blurays is null)
{
	<div>Loading...</div>
}
else
{
	<table>
		<tr>
			@foreach (var bluray in Blurays)
			{
				<td>

					<div>
						<div class="center"><img class="card-img-top logo" src="@bluray.ImageURL" alt="@bluray.ImageURL"></div>
						<div class="card-body">
							<div class="center"><h5 class="card-title">@bluray.Title</h5></div>
						</div>
					</div>


				</td>
			}
		</tr>
	</table>
}

@code {
    private IList<Bluray> Blurays { get; set; } = new List<Bluray>();

	protected override async Task OnInitializedAsync()
	{
		await LoadBlurays();
	}

    private async Task LoadBlurays()
    {
        Blurays = await _blurayApi.FindAsync();
    }
}